h1 {text-align:center;
}

a {text-decoration: none;}

.item{border: 2px,solid,black}

/* 开关样式 */
.btn_on_off{
    width: 60px;
    height: 25px;
    margin: 0 3px;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    border: 1px solid white;
    background-color: #12B090;
}
.btn-on-circle{
    position: absolute;
    width: 15px;
    height: 15px;
    top: 5px;
    left: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 10px white;
    transition: all .5s;
}
.btn-on-text{
    position: absolute;
    right: 10px;
    line-height: 25px;
    color: white;
    transition: all .5s;
}
/* 开关与文字同一行 但是每个开关不同行 */
.content{
    display: grid;
}
div.btn_on_off{
    display: inline-block;
    vertical-align: middle;
}
label p{
    display: inline-block;
    vertical-align: middle;
}
